<h2 id="api">Api</h2>
<h3 id="endpoints">Endpoints</h3>
<ul>
    <li><a href="/survey_1">localhost:8001/survey_1</a></li>
    <li><a href="/survey_2">localhost:8001/survey_2</a></li>
    <li><a href="/survey_3">localhost:8001/survey_3</a></li>
</ul>
<h3 id="filters">Filters</h3>
<table>
    <thead>
    <tr>
        <th>Filter</th>
        <th>Usage</th>
        <th>Example</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Select</td>
        <td><code>fields=[field,field]</code></td>
        <td><code>fields=id,Timestamp</code></td>
    </tr>
    <tr>
        <td>Where</td>
        <td><code>[field]=[value]</code></td>
        <td><code>Industry=Finance</code></td>
    </tr>
    <tr>
        <td>Sort</td>
        <td><code>sort=[field,field]</code></td>
        <td><code>sort=Timestamp,id</code></td>
    </tr>
    </tbody>
</table>
<h2 id="tables">Tables</h2>
<p>For more informations check tables in PhpMyAdmin (<a href="localhost:8000">localhost:8000</a>)</p>
<h3 id="survey_1">survey_1</h3>
<ul>
    <li>id</li>
    <li>Timestamp</li>
    <li>Age</li>
    <li>Industry</li>
    <li>Job_Title</li>
    <li>Salary</li>
    <li>Currency</li>
    <li>Location</li>
    <li>Postcollege_Experience</li>
    <li>Additionnal_Comments</li>
    <li>Other_Currency</li>
</ul>
<h3 id="survey_2">survey_2</h3>
<ul>
    <li>id</li>
    <li>Timestamp</li>
    <li>Employment_Type</li>
    <li>Company_Name</li>
    <li>Company_Size</li>
    <li>Country</li>
    <li>City</li>
    <li>Industry</li>
    <li>Public_Or_Private</li>
    <li>Experience_In_Industry</li>
    <li>Experience_In_Company</li>
    <li>Job_Title</li>
    <li>Job_Ladder</li>
    <li>Job_Level</li>
    <li>Required_Hours_Per_Week</li>
    <li>Actual_Hours_Per_Week</li>
    <li>Education_Level</li>
    <li>Annual_Base_Pay</li>
    <li>Annual_Bonus</li>
    <li>Annual_Stock_ValueBonus</li>
    <li>Health_Insurance_Offered</li>
    <li>Annual_Week_Vacation</li>
    <li>Satisfied</li>
    <li>Resign_In_Year</li>
    <li>Opinion_industry_direction</li>
    <li>Gender</li>
    <li>Next_10_years_top_skill</li>
    <li>Done_bootcamp</li>
</ul>
<h3 id="survey_3">survey_3</h3>
<ul>
    <li>id</li>
    <li>Timestamp</li>
    <li>Employer</li>
    <li>Location</li>
    <li>Job_Title</li>
    <li>Years_at_Employer</li>
    <li>Years_of_Experience</li>
    <li>Annual_Base_Pay</li>
    <li>Signing_Bonus</li>
    <li>Annual_Bonus</li>
    <li>Annual_Stock_ValueBonus</li>
    <li>Gender</li>
    <li>Additional_Comments</li>
</ul>